.div-textarea {
    border: 1px solid #CCCCCC;
    height: 200px;
    margin: 6px 0 10px 0;
    overflow: auto;
    padding: 5px;
}

#canvas {
    /*width: 800px;
    height: 480px;*/
    border: 1px solid #CCCCCC;
    margin-right: 10px;
    float: left;
}

#chat {
    float: none;
    width: auto;
}

#open-games {
    margin-bottom: 5px;
}

.join {
    margin-right: 2px;
}